.hero {
  text-align: center;
}

.hero-title {
  max-width: 800px;
  margin: 0 auto;
}

.hero-title img {
  padding: 0px;
  margin: 0px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 16px;
}