@import "./variables.css";
@import "./buttons.css";
@import "./breadcrumb.css";
@import "./navigation.css";
@import "./sidebar.css";

* {
    image-rendering: pixelated;
}

@font-face {
  font-family: PixelifySans;
  src: url(../assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf) format("truetype");
}

p, h1, h2, h3, h4, h5, h6, button, span, a{
    font-family: PixelifySans;
}

html,
body {
    background: var(--bg);
    color: var(--fg);
    margin: 0;
}

/* Примитивы */
.pix-panel {
    background: var(--panel);
    color: var(--fg);
    padding: 16px;
    border-radius: 6px;
}