@import "./variables.css";

.pix-input {
  display: inline-block;
  width: 100%;
  padding: calc(var(--px) * 2);
  border: var(--border) solid var(--black);
  border-radius: var(--radius);
  background: var(--panel);
  color: var(--white-text);
}

.pix-input--sm { padding: calc(var(--px) * 1.5); }
.pix-input--md { padding: calc(var(--px) * 2); }
.pix-input--lg { padding: calc(var(--px) * 3); }

.pix-input:focus { outline: none; filter: brightness(1.1); }