@import "./variables.css";

.pix-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0px;
}

.pix-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pix-nav__item {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pix-nav__link, .pix-nav__trigger  {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0;
  height: 100%;
}


.pix-nav__trigger {
  all: unset;
  font-family: inherit;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: PixelifySans;
  margin: 0px 8px;
}

.pix-nav__content {
  background-color: var(--panel);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
  margin-top: 10px;
}

.pix-nav__content_region {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 1000;
  margin-top: 8px;
  min-width: 160px;
}

.pix-nav__item:hover .pix-nav__content_region {
  display: inline-block;
}

.pix-nav__item:active .pix-nav__content_region {
  display: inline-block;
}

