@import "./variables.css";

.pix-tabs-content {
  padding: 20px;
  background-color: black;
}

.pix-tabs-list {
  display: flex;
  border-bottom: 1px solid var(--pix-border-color);
}

.pix-tabs-trigger {
  padding:  10px;
  cursor: pointer;
}

.pix-tabs-trigger.active {
  color: var(--white-text);
  background-color: var(--black);
}