@import "./variables.css";

.pix-textarea {
  display: inline-block;
  width: 100%;
  min-height: 80px;
  padding: calc(var(--px) * 2);
  border: var(--border) solid var(--black);
  border-radius: var(--radius);
  background: var(--panel);
  color: var(--white-text);
  resize: vertical;
}

.pix-textarea--sm { min-height: 60px; }
.pix-textarea--md { min-height: 80px; }
.pix-textarea--lg { min-height: 120px; }

.pix-textarea:focus { outline: none; filter: brightness(1.1); }